@import 'mixins';
@import 'var';




/* nav styling */

header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-nav {
    display: flex;   
    flex: 0 1 300px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.right-nav {
    display: flex;
    flex: 0 1 300px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-top h1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 2em;
}

/* INDEX branding styling */

.header-bkg-img {
    // height: 100vh;
    // background: url('assets/home-1.jpeg');
    // background-size: cover;
    @include div-same-size-as-background-img('assets/home-1.jpeg');
    padding-top: 53%;
}

.header-bottom {
   padding-bottom: 40px;
   padding-top: 80px;
}

.header-bottom img {
    display: block;
}

.header-bottom {
    background-color: $primary;
}



/*BLOG STYLING*/


.blog-header {
    height: 100vh;
    background: url('assets/blog-1.jpeg');
}


/* CONTACT US STYLING */

.contact-us-header {
    margin-bottom: 80px;
    background: url("assets/contact-1.jpeg");
    background-size: cover;
    height: 30vh;
    position: relative;
     h1 {
         text-align: left;
         margin: 0;
         position: absolute;
         top: 130px;
         //found this method for breaking the h1 https://css-tricks.com/injecting-line-break/
         span {
             display: block;
             padding: 20px 0;
             &::before {
                 content: attr(data-text);
             }
         }
     }
 }



