@import 'var';
@import 'mixins';


/* INDEX STYLING */

/* caroseul styling */

.carousel {
    padding: 40px 0;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 36px;
        padding: 0 40px;
    }
}



.carousel-img-container img{
    border-radius: 50%;
}

.carousel p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    
}

/* about styling */

.about-content {
    background: url('assets/home-4.jpeg');
    background-size: cover;
    padding: 40px 0;
}

.about-text {
    padding-left: 15px;
}

.text-container-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.grid-item {
    padding-left: 20px;
    display: flex;
    align-items: center;
    h3 {
        padding: 15px 0;
    }
    p {
        color: rgb(95, 95, 95);
    };
}


.grid-icon span{
   font-size: 28px;
}

.circle-icon {
    width: 50px;
    height: 50px;
    border: 4px solid black;
    border-radius: 50%;
    padding-top: 8px;
    text-align: center;
}

.grid-unique {
    @include gridPos(1, 3 / span 2);
}

.grid-SEO {
    @include gridPos(1, 5 / span 2);
}

.grid-retina {
    @include gridPos(2, 3 / span 2);
}

.grid-ecommerce {
    @include gridPos(2, 5 / span 2);
}

.grid-options {
    @include gridPos(3, 3 / span 2);
}

.grid-custom {
    @include gridPos(3, 5 / span 2);
}

/* team styling */

.meet-team {
    padding: 40px 0;
}

.grid-team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.text-container-team {
    @include gridPos(1, 1 / span 2);
    align-self: center;
    justify-self: center;
    h3 {
        text-align: left;
    }
}

.final-text-team {
    align-self: center;
    justify-self: center;
}

/* portfolio styling */

.portfolio-container {
    display: flex;
    background-color: $primary;
    .text-container-portfolio {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        justify-self: center;
        align-self: center;
    } div {
        width: 50%;
    }
    a {
        color: $black;
        margin: 15px 50px;
        padding: 15px;
        background-color: $white-two;
    }
    .img-container-portfolio {
        width: 50%;
    } img {
        height: 100%;
    }
    h2 {
        padding: 20px;
    }

} 

/* BLOG STYLING */

/* post styling */



.main-content-blog {
    padding-top: 40px;
    background: $white;
    h4 {
        text-align: left;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 700;
    }
}

.blog-header-container {
    text-align: center;
    h2{
        padding-bottom: 5px;
    }
    span {
        color: rgb(95, 95, 95);
    }
}

.blog-content-headers {
    display: inline-block;
    padding-bottom: 40px;
    h2 {
        font-size: 37px;
        font-weight: 700;
    }
    p {
        text-align: left;
    }
}

.top-of-blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    img {
        width: auto;
        border-radius: 50%;
        padding-right: 10px;
    }
    p {
        color: rgb(95, 95, 95);

    }
    
}

//could probably make this more DRY
.admin-blog {
    display: flex;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
}

.desc-blog {
    display: flex;
    div {
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
}

.blog-text {
    p {
        padding-bottom: 20px;
    }
}

.blog-text p:first-of-type {
    font-weight: 700;
    color: black;
}

.blog-text p {
    color:rgb(95, 95, 95);
}

.social-blog {
    display: flex;
    span {
        padding: 0 10px;
        margin-top: 5px;
    }
}

.related-content-blog {
    padding:80px 0;
    h2 {
        text-align: left;
        padding-bottom: 15px;
    }
}

.container-related {
    display: flex;
    div {
        padding: 0 20px;
        p {
            padding: 15px 0;
        }
    }
}




