@mixin fontStyle($font-size, $font-weight, $letter-spacing) {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}


@mixin gridPos($row, $column) {
    grid-row: $row;
    grid-column: $column;
}